{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static "bootstrap-5.0.0-beta1-dist/css/bootstrap.min.css" %}" />
  <script src="{% static "jquery-3.5.1.min.js" %}" /></script>
  <script src="{% static "bootstrap-5.0.0-beta1-dist/js/bootstrap.min.js" %}" /></script> 
  <script src="{% static "jquery.form.min.js" %}: /></script>
</head>
<body>
{% if message %}
  {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
  <div class="border-bottom mb-3">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white shadow-sm">
            <p class="h5 my-0 me-md-auto fw-normal"><a href="{% url 'root' %}"></a><img alt="Instagram" class="s4Iyt" src="/static/instagram.png"
              srcset="/static/images/web/mobile_nav_type_logo-2x.png/1b47f9d0e595.png 2x"></p>
            <nav class="my-2 my-md-0 me-md-3">
              <a class="p-2 text-dark" href="/explore/"><svg aria-label="사람 찾기" class="_8-yf5 " fill="#262626" height="22"
                  viewBox="0 0 48 48" width="22">
                  <path clip-rule="evenodd"
                    d="M24 0C10.8 0 0 10.8 0 24s10.8 24 24 24 24-10.8 24-24S37.2 0 24 0zm0 45C12.4 45 3 35.6 3 24S12.4 3 24 3s21 9.4 21 21-9.4 21-21 21zm10.2-33.2l-14.8 7c-.3.1-.6.4-.7.7l-7 14.8c-.3.6-.2 1.3.3 1.7.3.3.7.4 1.1.4.2 0 .4 0 .6-.1l14.8-7c.3-.1.6-.4.7-.7l7-14.8c.3-.6.2-1.3-.3-1.7-.4-.5-1.1-.6-1.7-.3zm-7.4 15l-5.5-5.5 10.5-5-5 10.5z"
                    fill-rule="evenodd"></path>
                </svg></a>
              <a class="p-2 text-dark" href="/accounts/activity">
                <svg aria-label="홈" class="_8-yf5 " fill="#262626" height="22" viewBox="0 0 48 48" width="22">
                  <path
                    d="M45.5 48H30.1c-.8 0-1.5-.7-1.5-1.5V34.2c0-2.6-2.1-4.6-4.6-4.6s-4.6 2.1-4.6 4.6v12.3c0 .8-.7 1.5-1.5 1.5H2.5c-.8 0-1.5-.7-1.5-1.5V23c0-.4.2-.8.4-1.1L22.9.4c.6-.6 1.6-.6 2.1 0l21.5 21.5c.3.3.4.7.4 1.1v23.5c.1.8-.6 1.5-1.4 1.5z">
                  </path>
                </svg>
              </a>
              <a class="p-2 text-dark" href="profile_edit">
                <img src="{{ user.avatar_url }}" class="rounded-cirlce" style= "width: 24px; height: 24px;">  
              </a>       
            </nav>
          </header>
        </div>
      </div>
    </div>
  </div>
  
  {% block content %}
  {% endblock %}
  <div class="border-top mt-3">
    <div class="container">
      <footer class="pt-4 my-md-5 pt-md-5">
        <div class="row">
          <div class="col-12 col-md">
            <img class="mb-2" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
            <small class="d-block mb-3 text-muted">© 2017-2019</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Cool stuff</a></li>
              <li><a class="text-muted" href="#">Random feature</a></li>
              <li><a class="text-muted" href="#">Team feature</a></li>
              <li><a class="text-muted" href="#">Stuff for developers</a></li>
              <li><a class="text-muted" href="#">Another one</a></li>
              <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Resource</a></li>
              <li><a class="text-muted" href="#">Resource name</a></li>
              <li><a class="text-muted" href="#">Another resource</a></li>
              <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Team</a></li>
              <li><a class="text-muted" href="#">Locations</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>
</html>